
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>InternalError</title>
</head>
<body>
    <div class="container d-flex justify-content-center">
        <div>
            <h1>متاسفانه در برنامه خطایی رخ داده است لطفا با ادمین تماس حاصل فرمایید</h1>
        </div>
    </div>
</body>
</html>
