
@{
    Layout = "";
    ViewBag.Title = "NotFound";
}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <div dir="rtl" class="container d-flex justify-content-center align-content-center min-vh-100">
        <div class="p-4">
            <h1 class="h1 text-center mt-3">404</h1>
            <h2 class="mt-3">صفحه مورد نظر یافت نشد</h2>
            <button class="mt-3 btn btn-info w-100">بازگشت به صفحه اصلی</button>
        </div>
    </div>
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>
